.item {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
}

.item__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item__title h1 {
  margin-bottom: 0!important;
}

.item__gallery {
  overflow-x: scroll;
  width: 100%;
  white-space: nowrap;
}

.item__gallery-item {
  display: inline-block;
  border: 1px solid #EDF2F7;
  border-radius: 4px;
  padding: 10px;
  width: 400px!important;
  height: 400px;
  background: #F7FAFC;
  position: relative;
  margin-right: 20px;
  transition: 0.3s;
}

.item__gallery-item img {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 100%!important;
  height: 100%;
  object-fit: contain;
  transition: 1s;

}

.item__information {
  background: #2D3748;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #EDF2F7;
}

.item__information-item {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.item__information h4 {
  font-size: 30px!important;
  color: white!important;
}

.item__information-item-title {
  position: relative;
  padding-left: 20px;
  color: #1890ff!important;
  margin: 0!important;
  width: 120px;
}

.item__information-item-description {
  position: relative;
  color: white!important;
  margin: 0!important;
}

.item__information-description::before {
  content: "";
  position: absolute;
  display: flex;
  left: 0;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background: #1890ff;
  border-radius: 50%;
}
